<div class="container">
    <h1>{{stringInterpolation}}</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" id=entryelements>

            <input type="text" id="id_accountnumber" [value]="accno" [(ngModel)]="accno" placeholder="Account Number">
            <input type="password" id="id_pass" [(ngModel)]="pswd" placeholder="Password">
            <button class="btn btn-success" (click)="login()">Login</button>
            <button class="btn btn-success" (click)="register()">Register</button>
        </div>
         <div class="col-4"></div>
    </div>
</div>