<div class="container">
    <h1>{{stringInterpolation}}</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" id=entryelements>

            <form (ngSubmit)="login()">
           
            <input type="text" id="id_accountnumber" name="accountnumber" [(ngModel)]="accno" placeholder="Account Number">
            <input type="password" id="id_pass" name="pswd" [(ngModel)]="pswd" placeholder="Password">
            <button type="submit" class="btn btn-success">Login</button>
            <button type="button" class="btn btn-success" (click)="register()">Register</button>


            </form>
        </div>
         <div class="col-4"></div>
    </div>
</div>